#playing_zone{
	background-color:black;
	width: 500px;
	height:500px;
}
.snake_body_element{
	width:10px;
	height:10px;
	background-color:green;
	top:0;
	bottom:0;
	position:absolute;
	/*transition: all 0.05s linear;
	-mozkit-transition: all 0.05s linear;
	-webkit-transition: all 0.05s linear;*/
}
body{
	overflow:hidden;
}
.apples{
	background-color: red;
	position:absolute;
	width:10px;
	height:10px;
}
#scoreTab{
	font-family:Impact;
	font-size:50px;
	color:orange;
	position: absolute;
	display:inline-block;
	margin-top:20px;
	left:160px;
}
#livesTab{
	color:red;
	font-size:50px;
	display:inline-block;
	font-family:Impact;
	position: absolute;
	margin-top:20px;
	left:300px;
}
#highScoreTab{
	display:inline-block;
	font-family:Impact;
	font-size:50px;
	color:yellow;
	position: absolute;
	display:inline-block;
	margin-top:20px;
	left:370px;
}
input{
	font-family:Impact;
	background-color: darkgrey; 
	display:inline-block;
	border:none;
	margin-top: 28px;
	height:40px;
	color:black;
	margin-left:15px;
}
#infoTab{
	width:500px;
	height:90px;
	background-color:grey;
	position: absolute;
	top:500px;
}